# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thien\Desktop\FileHoangThien\Thuật toán gom cụm\final_bao_cao\thuattoangomcum_degsinerHT_NT.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
